# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

{{ if eq .machine "personal" -}}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
	ServerAliveInterval 60
	TCPKeepAlive yes
	IPQoS cs1

{{ end -}}
# Private hosts (self-hosted servers, cloud instances) are kept in an
# age-encrypted file to avoid leaking hostnames/IPs to the public repo.
Include ~/.ssh/config-private

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_github
  AddKeysToAgent yes
