font-family = "MonaspiceKr Nerd Font Mono"
font-family = "Rounded M+ 1m"
font-family = "Symbols Nerd Font Mono"
font-size = 13

{{- if eq .machine "personal" }}

# ===== KTRZ Monokai Theme =====
theme = ktrz-monokai
{{- else }}

# ===== LAPRAS Color Scheme =====
# LAPRAS のベースカラー (濃紺 + 明るい灰白)
background = #1A202C
foreground = #E2E8F0
{{- end }}
