font-family = "MonaspiceKr Nerd Font Mono"
font-family = "Rounded M+ 1m"
font-family = "Symbols Nerd Font Mono"
font-size = 13

{{- if eq .machine "personal" }}

# ===== KTRZ Monokai Theme =====
theme = ktrz-monokai
{{- else }}

# ===== LAPRAS Theme =====
theme = lapras
{{- end }}
